<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader('부서 목록')}"></th:block>
	   
        <main class="m-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>부서번호</th>
                        <th>부서이름</th>
                        <th>매니저</th>
                        <th>위치</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dept : ${page}" th:object="${dept}">
                        <td th:text="*{id}"></td>
                        <td>
                            <a th:href="@{/department/details/{id}(id=*{id})}" th:text="*{departmentName}"></a>
                        </td>
                        <!-- <td th:text="*{manager != null} ? *{manager.firstName}"> -->
                        <td>
                            <th:block th:if="*{manager != null}">
                                <a th:href="@{/employee/details/{id}(id=*{manager.id})}" th:text="*{manager.firstName}"></a>
                            </th:block> 
                        </td>
                        <td>
                            <th:block>
                                <a th:href="@{/location/details/{id}(id=*{location.id})}" th:text="*{location.city}"></a>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="mt-2" th:insert="~{/layout/fragments :: pagination}"></div>
            
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    </body>
</html>