<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('직원 상세 정보')}"></th:block>
        
        <main>
            <div class="card mt-2" th:object="${employee}">
            <h2 class="card-header" th:text="*{firstName} + ' ' + *{lastName} + ' 상세 정보'"></h2>
            <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>사번</th>
                    <td th:text="*{id}"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="*{firstName}"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td th:text="*{phoneNumber}"></td>
                </tr>
                <tr>
                    <th>직책</th>
                    <td>
                        <a th:href="@{/job/details/{id}(id=*{job.id})}" th:text="*{job.jobTitle}"></a>
                    </td>
                </tr>
                <tr>
                    <th>부서</th>
                    <td>
                        <a th:href="@{/department/details/{id}(id=*{department.id})}" th:text="*{department.departmentName}"></a>
                    </td>
                </tr>
            </table>
            </div>
            </div>
        </main>
            
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
     
    </body>
</html>