<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('위치 상세 정보')}"></th:block>
        
        <main>
            <div class="card mt-2" th:object="${location}">
            <h2 class="card-header" th:text="*{city} + ' 상세 정보'"></h2>
            <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>위치번호</th>
                    <td th:text="*{id}"></td>                        
                </tr>
                <tr>
                    <th>도로명 주소</th>
                    <td th:text="*{streetAddress}"></td>                        
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td>
                    <th:block th:if="*{postalCode != null}">
                        <a th:text="*{postalCode}"></a>
                    </th:block>
                    </td>                        
                </tr>
                <tr>
                    <th>도시</th>
                    <td th:text="*{city}"></td>                        
                </tr>
                <tr>
                    <th>주</th>
                    <td>
                    <th:block th:if="*{stateProvince != null}">
                        <a th:text="*{stateProvince}"></a>
                    </th:block>
                    </td>                  
                </tr>
                <tr>
                    <th>국가</th>
                    <td th:text="*{country.countryName}"></td>                        
                </tr>
            </table>
            </div>
            </div>
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>