<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 3</title>
	</head>
	<body>
        <div th:replace="~{/layout/fragments :: pageHeader('위치 목록 페이지')}"></div>
        
        <main>
            <table>
                <thead>
                    <tr>
                        <th>위치번호</th>
                        <th>도로명 주소</th>
                        <th>우편번호</th>
                        <th>도시</th>
                        <th>주</th>
                        <th>국가</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="loc : ${locations}" th:object="${loc}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{streetAddress}"></td>
                        <td>
                            <th:block th:if="*{postalCode != null}">
                                <a th:text="*{postalCode}"></a>
                            </th:block>
                        </td>
                        <td th:text="*{city}"></td>
                        <td>
                            <th:block th:if="*{stateProvince != null}">
                                <a th:text="*{stateProvince}"></a>
                            </th:block>
                        </td>
                        <td>
                            <a th:href="@{/country/details/{id}(id=*{country.id})}" th:text="*{country.countryName}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>