<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('직무 상세 정보')}"></th:block>
             
        <main>
            <table>
                <tbody th:object="${job}">
                    <tr>
                        <th>직무번호</th>
                        <td th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <th>직무이름</th>
                        <td th:text="*{jobTitle}"></td>
                    </tr>
                    <tr>
                        <th>최소급여</th>
                        <td th:text="*{minSalary}"></td>
                    </tr>
                    <tr>
                        <th>최대급여</th>
                        <td th:text="*{maxSalary}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
	</body>
</html>